.div {
    background-color: #003C43;
    padding-top: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
}

a {
    font-family: 'Montserrat', serif;
}

body {
    color: #135D66;
    background-color: white;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

hr {
    height: 0px;
}

p {
    font-size: 14px;
}

h1 {
    font-family: 'Montserrat', serif;
    color: #77B0AA;
    margin-bottom: 0px;
}

h2 {
    color: #003C43;
    font-family: 'Montserrat', serif;
}

h3 {
    color: #003C43;
    font-family: 'Montserrat', serif;
    margin-top: 5px;
}

.name {
    font-family: 'Sacramento', serif;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 60px;
}

.deets {
    font-size: 20px;
    color: #77B0AA;

}

.keyboard {
    width: 403px;
    height: 245px;
    position: absolute;
    transform: rotate(30deg);
    right: 4%;
    top: 1%;
}

.headphone {
    width: 200px;
    height: 200px;
    transform: rotate(325deg);
    position: relative;
    right: 30%;
}

.desk {
    width: 500px;
    height: 500px;
    position: relative;
    top: 4px;
}

.coding {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 25%;
    left: 5%
}

.programming {
    position: absolute;
    top: 25%;
    transform: rotate(340deg);
    right: 4%;
    width: 250px;
    height: 250px;
}

.me {
    width: 230px;
    height: 230px;
}

.middle-container {
    margin-top: 50px;
}

.my-skills {
    margin-top: 100px;
    display: inline-block;
    padding: 20px 200px 20px;
    font-size: 60px;
    background-color: #E3FEF7;
    color: #77B0AA;
    margin-bottom: 50px;
}

.skill-img {
    display: inline-block;
    height: 200px;
    width: 200px;
}

.py-skill {
    width: 600px;
    height: 250px;
    font-size: 29px;
}

.skill-row {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    color: #77B0AA;
    font-size: 30px;
    font-family: 'DM Mono', monospace;
    margin: 20px auto 20px;
    padding: 30px;
    background-color: #135D66;
    border-radius: 40px;
}

.bottom-container {
    padding: 20px;
    background-color: #77B0AA;
    margin-bottom: 0px;
}

.footer-link {
    font-size: 35px;
    font-family: 'Montserrat', serif;
    margin: 0px 70px 10px;
}

.corp {
    font-size: 10px;
    font-family: 'DM Mono', monospace;
}

.contact {
    font-size: 13px;
    margin-left: 200px;
    margin-right:200px;
}